/* Adjustments to prevent overlap */
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    padding-top: 56px;
}
main {
    flex-grow: 1;
    padding-top: 56px; /* Height of navbar */
    display: flex;
}
/* Navbar */
.navbar {
    z-index: 999; /* Ensure navbar is above sidebar */
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    margin-bottom: 4rem !important;
}

.navbar-toggler {
    display: hidden;
    border: none !important;
}

/* Sidebar */
.sidebar {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    background-color: #d8d8d8;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
  }
  
  .sidebar a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 18px;
    color: #000000;
    display: block;
    transition: 0.3s;
  }
  
  .sidebar a:hover {
    color: #f1f1f1;
  }
  
  .sidebar .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  
  .openbtn {
    font-size: 20px;
    cursor: pointer;
    background-color: #adadad;
    color: white;
    padding: 10px 15px;
    border: none;
  }
  
  .openbtn:hover {
    background-color: #444;
  }
  
  #main {
    transition: margin-left .5s;
    padding: 16px;
  }
  
  /* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
  @media screen and (max-height: 450px) {
    .sidebar {padding-top: 15px;}
    .sidebar a {font-size: 18px;}
  }

/* Main content area */
.main-content {
    flex-grow: 1;
    padding: 20px;
    max-width: 80%;
    margin: 0 auto;
}

.container {
    margin-top: 3rem;
}

table {
    margin: auto;
}

table, h5 {
    text-align: left;
}

.header-font {
    text-align: center;
}

tr {
    vertical-align: baseline;
}

td, th {
    margin: 5px;
}

.search-box {
    border-radius: 20px;
    padding: 5px;
}

.search-btn {
    border: none !important; 
    padding: 5px; 
    border-radius:5px;
}

.block-btn {
    float: left;
}

.block-head {
    display: flex !important;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-between;
    align-items: center;
}

.btn {
    margin: 5px;
}
@media (min-width: 992px) {
    .navbar-toggler {
        border: none !important;
    }
}