/* Adjustments to prevent overlap */
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    padding-top: 56px;
}
main {
    flex-grow: 1;
    padding-top: 56px; /* Height of navbar */
    display: flex;
}
/* Navbar */
.navbar {
    z-index: 1000; /* Ensure navbar is above sidebar */
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    margin-bottom: 4rem !important;
}

.navbar-toggler {
    display: hidden;
    border: none !important;
}

/* Sidebar */
#sidebarMenu {
    z-index: 900; /* Lower z-index than navbar */
    position: fixed;
    top: 56px; /* Height of navbar */
    bottom: 0;
    left: -250px; /* Hide the sidebar by default */
    width: 250px;
    overflow-y: auto; /* Enable scrolling */
    background-color: #f0f0f0;
    box-shadow: #d1d1d1;
    transition: left 0.3s; /* Smooth transition effect */
}
#sidebarMenu:hover {
    left: 0;
}

.sidebar-active {
    padding-left: 250px;
}

/* Main content area */
.main-content {
    flex-grow: 1;
    padding: 20px;
    max-width: 80%;
}

.form-container {
    text-align: center;
}

@media (min-width: 992px) {
    .navbar-toggler {
        border: none !important;
    }
}